.cover-photo{
    position:relative;
    text-align: center;
    color: white;
}

.text-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.link{
    text-decoration: none;
    color: rgb(39, 39, 41);
}

blockquote{
    font-size: 2vw;
    font-style: italic;
}

.sidebar{
    border-radius:0;
    padding:0;
    margin:0;
    position:sticky;
    top:0;
}


#third-card{
    clear: left;
}

.center{
    position:relative;
    left:25%;
}

.progress {
    width: 100%;
    background-color: #ddd;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.fly-in-image { animation: fly-img 0.5s linear; }
.fly-in-text { animation: fly-text 0.5s linear; }

@keyframes fly-img {
    0%{
        transform: translate(-100vh, 0);opacity: .5;
    }
    50%{
        transform: translate(-50vh, 0);opacity: .75;
    }
    100%{
        transform: translate(0,0);opacity: 1;
    }
}

@keyframes fly-text {
    0%{
        transform: translate(-50%, 50%);opacity: .5;
    }
    50%{
        transform: translate(-50%,0%);opacity: .75;
    }
    100%{
        transform: translate(-50%,-50%);opacity: 1;
    }
}


.bold{
    margin-top: 5px;
    font-weight: bold;
}

@media (max-width: 991.98px){
    .center{
        left: 0%;
        width:100%;
    }

    .text-box{
        transform: translate(-50%, -15%);
    }

    @keyframes fly-text {
        0%{
            transform: translate(-50%, 65%);opacity: .5;
        }
        50%{
            transform: translate(-50%,25%);opacity: .75;
        }
        100%{
            transform: translate(-50%,-15%);opacity: 1;
        }
    }

    .photo{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width: 200px;
    }

    .navtitle{
        display: none;
    }
}