.cover-photo{
    position:relative;
}

.text-box{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -35%);
    color: white;
}

.link{
    text-decoration: none;
    color: rgb(39, 39, 41);
}

blockquote{
    font-size: 2vw;
    font-style: italic;
}

.sidebar{
    border-radius:0;
    padding:0;
    margin:0;
    position:sticky;
    top:0;
}


#third-card{
    clear: left;
}

.center{
    position:relative;
    left:25%;
}

.progress {
    width: 100%;
    background-color: #ddd;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
  
.cantonese {width: 100%; background-color: #4CAF50;}
.english {width: 75%; background-color: #2196F3;}
.putonghua {width: 75%; background-color: #f44336;}
.japanese {width: 25%; background-color: #808080;}

.python {width: 50%; background-color: #57d8e9;}
.cpp{width: 40%; background-color: #6091eb;}
.java{width: 35%; background-color: #cfc8fa;}
.html5 {width: 80%; background-color: #36f155;}
.css3 {width: 65%; background-color: #f7473a;}
.js {width: 50%; background-color: #f397ee;}
.bootstrap5 {width: 70%; background-color: #f0de3b;}
.git{width: 60%; background-color: #95f39a;}
.react{width: 30%; background-color: #ebaf60;}
.sqlite{width: 10%; background-color: #18366e;}
.r {width: 5%; background-color: #9560eb;}
.vba {width: 5%; background-color: #f6ffa2;}
.tensorflow {width: 5%; background-color: #ec9c34;}

.bold{
    margin-top: 5px;
    font-weight: bold;
}

@media (max-width: 991.98px){
    .center{
        left: 0%;
        width:100%;
    }

    .text-box{
        transform: translate(-50%, -15%);
    }

    .photo{
        display:block;
        margin-left:auto;
        margin-right:auto;
    }

    .navtitle{
        display: none;
    }
}