.carousel-caption-description{
    text-align: center;
}

h3 {
    text-align:left;
    text-decoration: underline;
    display: inline;
}

.date-right-align{
    float: right;
    text-align:right;
}

.list-font-family {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}